## Prediction model

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
salary_df = pd.read_csv("dataset_for_prediction.csv")
salary_df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,MP,PER,TS%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Salaries,Rank
0,0,2000,Ray Allen,SG,24.0,MIL,82.0,3070.0,20.6,0.570,...,276.0,359.0,308.0,110.0,19.0,183.0,187.0,1809.0,9000000.0,14
1,1,2000,Rafer Alston,PG,23.0,MIL,27.0,361.0,4.3,0.310,...,18.0,23.0,70.0,12.0,0.0,29.0,29.0,60.0,301000.0,144
2,2,2000,Kenny Anderson,PG,29.0,BOS,82.0,2593.0,17.4,0.524,...,170.0,225.0,420.0,139.0,8.0,130.0,230.0,1149.0,6680000.0,30
3,3,2000,Darrell Armstrong,PG,31.0,ORL,82.0,2590.0,19.5,0.542,...,205.0,270.0,501.0,169.0,9.0,248.0,137.0,1330.0,4125000.0,56
4,4,2000,Isaac Austin,C,30.0,WAS,59.0,1173.0,10.2,0.481,...,218.0,282.0,74.0,17.0,38.0,107.0,128.0,397.0,4819000.0,44

In [4]:


data_dum = pd.get_dummies(columns=["Pos", "Tm"], data=salary_df)
prediction_data = data_dum.drop(columns = ["Player"])
print(prediction_data)

       Unnamed: 0  Year   Age     G      MP   PER    TS%   3PAr    FTr  ORB%  \
0               0  2000  24.0  82.0  3070.0  20.6  0.570  0.288  0.282   3.2
1               1  2000  23.0  27.0   361.0   4.3  0.310  0.147  0.042   1.6
2               2  2000  29.0  82.0  2593.0  17.4  0.524  0.223  0.257   2.3
3               3  2000  31.0  82.0  2590.0  19.5  0.542  0.360  0.221   2.7
4               4  2000  30.0  59.0  1173.0  10.2  0.481  0.011  0.389   6.2
5               5  2000  28.0  80.0  2726.0  14.6  0.609  0.564  0.222   2.0
6               6  2000  19.0  24.0   130.0   7.6  0.397  0.171  0.343   3.6
7               7  2000  27.0  82.0  1691.0  16.5  0.569  0.166  0.339   1.1
8               8  2000  21.0  82.0  3155.0  16.7  0.521  0.206  0.242   2.8
9               9  2000  32.0  73.0  2459.0  15.1  0.468  0.360  0.114   2.2
10             10  2000  22.0  46.0   423.0  10.0  0.463  0.009  0.330   5.7
11             11  2000  20.0  81.0  2999.0  20.6  0.528  0.002  0.410  13.3
12             12  2000  29.0  71.0  2587.0  20.8  0.535  0.127  0.200   2.0
13             13  2000  30.0  80.0  2302.0  15.3  0.516  0.001  0.237  11.4
14             14  2000  26.0  71.0  2159.0  12.4  0.515  0.003  0.511   8.7
15             15  2000  25.0  59.0  1548.0  19.0  0.529  0.004  0.469  13.7
16             16  2000  31.0  78.0  2538.0  14.6  0.500  0.007  0.432   7.6
17             17  2000  23.0  82.0  3126.0  23.4  0.543  0.139  0.325   5.2
18             18  2000  30.0  81.0  2899.0  21.1  0.551  0.077  0.380   2.8
19             19  2000  32.0  71.0  1675.0   8.6  0.491  0.291  0.165   1.2
20             20  2000  24.0  81.0  1850.0  15.9  0.573  0.015  0.333   9.5
21             21  2000  32.0  74.0  2347.0  18.9  0.541  0.144  0.385   6.1
22             22  2000  24.0  55.0   668.0  11.9  0.476  0.118  0.354   8.4
23             23  2000  23.0  75.0  1793.0  12.9  0.484  0.231  0.258   3.1
24             24  2000  35.0  67.0  1095.0  14.9  0.542  0.533  0.070   1.1
25             25  2000  24.0  21.0   495.0   9.6  0.427  0.000  0.295   9.6
26             26  2000  20.0  82.0  1523.0  12.9  0.486  0.256  0.353   3.6
27             27  2000  30.0  74.0  2127.0  17.4  0.537  0.000  0.337  14.0
28             28  2000  20.0  48.0   570.0  15.3  0.542  0.021  0.273   5.9
29             29  2000  24.0  82.0  3103.0  15.6  0.530  0.229  0.255   3.0
...           ...   ...   ...   ...     ...   ...    ...    ...    ...   ...
10191       10191  2019  24.0  62.0   628.0   7.0  0.450  0.088  0.263   3.5
10192       10192  2019  29.0  36.0   343.0  14.3  0.597  0.371  0.267   0.9
10193       10193  2019  24.0  15.0   174.0   3.3  0.352  0.314  0.196   2.5
10194       10194  2019  22.0  11.0    36.0  16.1  0.648  0.538  0.154   0.0
10195       10195  2019  30.0  73.0  2630.0  21.1  0.501  0.279  0.306   4.1
10196       10196  2019  24.0  67.0  1728.0  14.8  0.555  0.262  0.227   2.2
10197       10197  2019  29.0  72.0  1674.0  23.5  0.564  0.024  0.357  16.3
10198       10198  2019  23.0  73.0  2543.0  12.4  0.493  0.288  0.245   3.5
10199       10199  2019  26.0   5.0    26.0  32.9  0.610  0.077  0.308  16.2
10200       10200  2019  23.0  24.0   372.0  15.1  0.599  0.018  0.436  13.6
10201       10201  2019  24.0  46.0  1079.0   9.7  0.485  0.559  0.068   5.4
10202       10202  2019  32.0  75.0  2133.0  12.6  0.548  0.586  0.132   3.8
10203       10203  2019  21.0  32.0   283.0  18.8  0.703  0.000  0.294  10.2
10204       10204  2019  22.0  66.0  1959.0  12.8  0.513  0.342  0.183   3.4
10205       10205  2019  23.0  21.0   251.0  21.9  0.607  0.222  0.479   7.2
10206       10206  2019  23.0  13.0    62.0  17.1  0.585  0.200  0.600   7.0
10207       10207  2019  23.0   8.0   189.0  23.4  0.613  0.228  0.446   7.2
10208       10208  2019  26.0  75.0  1699.0  15.5  0.523  0.301  0.269   4.4
10209       10209  2019  26.0  49.0   897.0  14.5  0.527  0.307  0.208   4.8
10210       10210  2019  26.0  26.0   802.0  16.6  0.519  0.294  0.336   4.0
10211       10211  2019  23.0  41.0   251.0  12.4  0.542  0.364  0.286   9.8
10212       10212  2019  30.0  81.0  2489.0  16.2  0.569  0.174  0.161   8.7
10213       10213  2019  20.0  81.0  2503.0  17.0  0.539  0.384  0.330   2.6
10214       10214  2019  26.0  49.0  1243.0  17.2  0.611  0.064  0.409   9.4
10215       10215  2019  29.0   6.0    93.0  17.3  0.607  0.033  0.600  12.9
10216       10216  2019  29.0   2.0    11.0   1.5  0.000  0.500  0.000  18.7
10217       10217  2019  29.0   4.0    82.0  19.4  0.640  0.000  0.643  12.1
10218       10218  2019  21.0  59.0  1040.0  18.9  0.604  0.000  0.332  11.9
10219       10219  2019  21.0  33.0   516.0  19.5  0.633  0.000  0.342  11.0
10220       10220  2019  21.0  26.0   524.0  18.3  0.574  0.000  0.323  12.7

       ...  Tm_PHO  Tm_POR  Tm_SAC  Tm_SAS  Tm_SEA  Tm_TOR  Tm_TOT  Tm_UTA  \
0      ...       0       0       0       0       0       0       0       0
1      ...       0       0       0       0       0       0       0       0
2      ...       0       0       0       0       0       0       0       0
3      ...       0       0       0       0       0       0       0       0
4      ...       0       0       0       0       0       0       0       0
5      ...       0       0       0       0       1       0       0       0
6      ...       0       0       0       0       0       0       0       0
7      ...       0       0       0       0       0       0       0       0
8      ...       0       0       0       0       0       0       0       0
9      ...       0       0       0       0       0       0       0       0
10     ...       0       0       0       0       0       0       0       0
11     ...       0       0       0       0       0       0       0       0
12     ...       0       0       0       0       0       0       0       0
13     ...       0       0       0       0       0       0       0       0
14     ...       0       0       0       0       0       0       0       0
15     ...       0       0       0       0       0       0       0       0
16     ...       0       0       0       0       0       0       0       0
17     ...       0       0       0       0       0       1       0       0
18     ...       0       0       0       0       0       0       0       0
19     ...       0       0       0       0       0       0       0       0
20     ...       0       0       0       0       0       0       0       0
21     ...       0       0       0       0       0       0       0       0
22     ...       0       0       0       0       0       0       0       0
23     ...       0       0       0       0       0       0       0       0
24     ...       0       0       0       0       0       1       0       0
25     ...       0       0       0       0       0       0       0       0
26     ...       0       0       0       0       0       0       0       0
27     ...       0       0       0       0       0       0       0       0
28     ...       0       0       0       0       0       0       0       0
29     ...       0       0       0       0       0       0       0       0
...    ...     ...     ...     ...     ...     ...     ...     ...     ...
10191  ...       0       0       0       0       0       0       0       0
10192  ...       0       0       0       0       0       0       0       0
10193  ...       0       0       0       0       0       0       0       0
10194  ...       0       0       0       0       0       0       0       0
10195  ...       0       0       0       0       0       0       0       0
10196  ...       0       0       0       1       0       0       0       0
10197  ...       0       0       0       0       0       0       0       0
10198  ...       0       0       0       0       0       0       0       0
10199  ...       0       0       0       0       0       0       0       0
10200  ...       0       0       0       0       0       0       0       0
10201  ...       0       0       0       0       0       0       0       0
10202  ...       0       0       0       0       0       0       0       0
10203  ...       0       0       0       0       0       0       0       0
10204  ...       0       0       0       0       0       0       0       0
10205  ...       0       0       0       0       0       0       1       0
10206  ...       0       0       0       0       0       0       0       0
10207  ...       0       0       0       0       0       0       0       0
10208  ...       0       0       0       0       0       0       1       0
10209  ...       0       0       0       0       0       1       0       0
10210  ...       0       0       0       0       0       0       0       0
10211  ...       0       0       0       0       0       0       0       0
10212  ...       0       0       0       0       0       0       0       0
10213  ...       0       0       0       0       0       0       0       0
10214  ...       0       0       0       0       0       0       0       0
10215  ...       0       0       0       0       0       0       1       0
10216  ...       0       0       0       0       0       0       0       0
10217  ...       0       0       0       0       0       0       0       0
10218  ...       0       0       0       0       0       0       1       0
10219  ...       0       0       0       0       0       0       0       0
10220  ...       0       0       0       0       0       0       0       0

       Tm_VAN  Tm_WAS
0           0       0
1           0       0
2           0       0
3           0       0
4           0       1
5           0       0
6           0       0
7           0       0
8           1       0
9           0       0
10          0       0
11          0       0
12          0       0
13          0       0
14          0       0
15          0       0
16          0       0
17          0       0
18          0       0
19          0       0
20          0       0
21          0       0
22          0       0
23          0       0
24          0       0
25          0       0
26          0       0
27          0       0
28          0       0
29          1       0
...       ...     ...
10191       0       0
10192       0       0
10193       0       0
10194       0       0
10195       0       0
10196       0       0
10197       0       0
10198       0       0
10199       0       0
10200       0       0
10201       0       0
10202       0       0
10203       0       0
10204       0       0
10205       0       0
10206       0       0
10207       0       0
10208       0       0
10209       0       0
10210       0       0
10211       0       0
10212       0       0
10213       0       0
10214       0       0
10215       0       0
10216       0       0
10217       0       0
10218       0       0
10219       0       0
10220       0       0

[10221 rows x 92 columns]

In [5]:
from sklearn.model_selection import train_test_split
X = prediction_data.copy().drop(columns=["Salaries"])
y = prediction_data["Salaries"]

X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.33, random_state=42)

### Predicting using Random Forest ###

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

# TODO
rf = RandomForestClassifier(n_estimators=100, max_depth=4,random_state=0).fit(X_train, y_train)

In [7]:
rayAllen = data_dum[data_dum["Player"] == "Kobe Bryant"]
rayAllen = rayAllen.drop(columns=["Player", "Salaries"])
rayAllen_pred = rf.predict(rayAllen)

### Predicting using Linear Regression ###

In [10]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
print(lr.coef_)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
print(lr.predict(rayAllen[rayAllen["Year"] == 2005]))
print(salary_df[salary_df["Player"] == "Kobe Bryant"]["Salaries"][salary_df["Year"] == 2005])

[12687058.78066832]
2114    14175000.0
Name: Salaries, dtype: float64

### Predicting Key Players Salaries ###
#### Predicting new contract salary by year ####
Chosen players:
* Anthony Davis
* Damian Lillard
* Giannis Antetokounmpo

In [48]:
players = ["Anthony Davis", "Damian Lillard", "Giannis Antetokounmpo"]
choosenModel = lr
for player in players:
    predictedSalary = choosenModel.predict(data_dum[(data_dum["Player"] == player) & (salary_df["Year"] == 2019 )].drop(columns=["Player", "Salaries"]))
    salaryNow = salary_df[(salary_df["Player"] == player) & (salary_df["Year"] == 2019 )]["Salaries"].iloc[0]
    print("Player: " + str(player)+"; "+ "Current Salary: "+ str(salaryNow) +"; "+"Predicted next season salary: "+ str(predictedSalary))

Player: Anthony Davis; Current Salary: 25434263.0; Predicted next season salary: [19987990.6008805]
Player: Damian Lillard; Current Salary: 27977689.0; Predicted next season salary: [19403331.80264282]
Player: Giannis Antetokounmpo; Current Salary: 24157304.0; Predicted next season salary: [22772073.40977889]